#05_List_★_MissingDigits

In [ ]:
num = [0,1,2,3,4,5,6,7,8,9]
num_num = [0,0,0,0,0,0,0,0,0,0]
not_found = ''
e = 0
a = input()
for i in a:
  if '0' <= i <= '9':
    num[int(i)] = []
for i in num:
  if '0' <= str(i) <= '9':
    not_found += str(i) + ","
    e += 1
if e == 0:
  not_found = 'None'
print(not_found.strip(","))

av 1 2 3 5 7 9 dfg
0,4,6,8

#05_List_★_Nicknames

In [ ]:
full = ['Robert','William','James','John','Margaret','Edward','Sarah','Andrew','Anthony','Deborah' ]
nick = ['Dick', 'Bill', 'Jim', 'Jack', 'Peggy', 'Ed', 'Sally', 'Andy', 'Tony', 'Debbie']
output = ''
num = int(input())
for i in range(num):
  a = input()
  b = 0
  for j in range(len(full)):
    if a == full[j]:
      if i == num-1:
        output += nick[j]
      else:
        output += nick[j] + ','
    elif a == nick[j]:
      if i == num-1:
        output += full[j]
      else:
        output += full[j] + ','
  for j in range(len(full)):
    if a != full[j] and a!= nick[j]:
      b += 1

  if b == len(full):
    output += 'Not found'
    if i != num-1:
      output += ','
for k in output.split(','):
  print(k)

4
John
Jim
Don
Debbie
Jack
James
Not found
Deborah

#05_List_★_Back_n_Front

In [ ]:
s1 = ''
s2 = ''
s3 = ''
a1 = int(input())
cleaned_output = []
output = []
for i in range(a1):
  a11 = int(input())
  s1 += str(a11) + ','
a2 = input()
while True:
  a3 = int(input())
  if a3 == -1:
    break
  s3 += str(a3) + ','
#อย่าหาทำตาม ใช้ append แต่แรกก้จบแล้ว
s2 = ','.join(a2.split())
out = s1 + s2 + ',' + s3
out = out.strip(',').split(',')

for i in range(len(out)):
  if out[i] != '':
    cleaned_output.append(out[i])

for i in range(len(cleaned_output)-1,0,-1):
  if (i % 2):
    output.append(int(cleaned_output[i]))
for i in range(len(cleaned_output)):
  if (not i % 2):
    output.append(int(cleaned_output[i]))
print(output)

5
50
40
30
20
10

100
200
300
400
500
-1
[500, 300, 100, 20, 40, 50, 30, 10, 200, 400]

#05_List_★_Peaks

In [ ]:
y = input()
z = y.split()
num = 0
for i in range(len(z)):
  z[i] = int(z[i])
for i in range(len(z)):
  if (i != 0) and (i!= len(z)-1):
    if (z[i] > z[i-1]) and (z[i] > z[i+1]):
      num += 1
print(num)

1 9 1 9 1 9 1 9 1 9 1
5

#05_List_★★_UniqueCount

In [ ]:
y = input()
z = y.split()
z.sort()
count = 0
output = []
for i in range(len(z)):
  if i == 0:
    count += 1
    output.append(int(z[i]))
  elif z[i] != z[i-1]:
    count += 1
    output.append(int(z[i]))
print(count)
output.sort()
print(output[:10])

1 9 1 9 1 9 1 9 1 9 1
2
[1, 9]

#05_​List_​★_​Collatz

In [ ]:
n = int(input())
steps = []
steps.append(str(n))
while n > 1:
  if (n % 2) == 0:
    n = n / 2 #remove decimal
  else:
    n = 3*n + 1
  steps.append(str(int(n)))
print('->'.join(steps[-15:]))

10
['10', '5', '16', '8', '4', '2', '1']
10->5->16->8->4->2->1

#05_List_★★_Upgrade

In [ ]:
ids = []
grades = []
uids = []
scale = ['A','B+','B','C+','C','D+','D','F']
while True:
  a = input().split()
  if a[0] == 'q':
    break
  ids.append(a[0])
  grades.append(a[1])
b = input().split()
uids = b
for i in uids:
  for id in ids:
    if i == id:
      if scale.index(grades[ids.index(i)]) != 0:
        grades[ids.index(i)] = scale[scale.index(grades[ids.index(i)])-1]

for i in ids:
  print(i,grades[ids.index(i)])

44444 A
22222 F
11111 B+
66666 C
55555 B
33333 D+
q
33333 22222 55555
D+ 5
F 8
B 2
44444 A
22222 F+
11111 B+
66666 C
55555 B+
33333 C

#05_List_★★_Upgrade_2

In [ ]:
ids = []
sorted_ids = []
grades = []
grades_sorted = []
uids = []
scale = ['A','B+','B','C+','C','D+','D','F']
while True:
  a = input().split()
  if a[0] == 'q':
    break
  ids.append(a[0])
  sorted_ids.append(a[0])
  grades.append(a[1])
b = input().split()
uids = b
for i in uids:
  for id in ids:
    if i == id:
      if scale.index(grades[ids.index(i)]) != 0:
        grades[ids.index(i)] = scale[scale.index(grades[ids.index(i)])-1]
sorted_ids.sort()
for i in sorted_ids:
  grades_sorted.append(grades[ids.index(i)])
for i in sorted_ids:
  print(i,grades[ids.index(i)])

44444 A
22222 F
11111 B+
 66666 C
55555 B
33333 D+
q
33333 22222 55555
11111 B+
22222 D
33333 C
44444 A
55555 B+
66666 C

#05_List_★★_Third_Closest

In [5]:
import math
n = int(input())
points = []
for i in range(n):
  a,b = input().split()
  a = float(a)
  b = float(b)
  d = math.sqrt(a**2 + b**2)
  points.append([d,i+1,a,b])
points.sort()
print(f'#{points[2][1]}: '+str((points[2][2],points[2][3])))

4
0.1 0.1
0.2 0.2
10.0 10.0
0.3 0.3
#4: (0.3, 0.3)

#05_List_★★★_Cut_n_Shuffle

In [29]:
a = input().split()
out = a
b = input()
for l in b:
  if l == "C":
    out2 = out.copy()
    out[:int(len(a)/2)] = out2[int(len(a)/2):]
    out[int(len(a)/2)::] = out2[:int(len(a)/2):]
  if l == "S":
    first = []
    second = []
    first[:int(len(out)/2)] = out[:int(len(out)/2)]
    second[:int(len(out)/2)] = out[int(len(out)/2):]
    for i in range(len(out)):
      if i % 2 == 0:
        out[i] = first[int(i/2)]
      else:
        out[i] = second[int((i-1)/2)]

for card in out:
  print(card, end=' ')

A J Q 10
C
Q 10 A J

#05_List_★★★_QueueTicket

In [43]:
q = list() # List q collects proper ticket queues
n = int(input()) # Number of commands
time = []
queue = []
que_num = 0
call_num = 0
q_time = []
for k in range(n):
 c = input().split() # Read commands
 if c[0] == 'reset':
  que_num = int(c[1])
  call_num = int(c[1])
 elif c[0] == 'new':
  print(f'ticket {que_num}')
  time.append(int(c[1]))
  queue.append(que_num)
  que_num += 1
 elif c[0] == 'next':
  print(f'call {call_num}')
  call_num += 1
 elif c[0] == 'order':
  print(f'qtime {call_num-1} {int(c[1])-time[queue.index(call_num-1)]}')
  q_time.append(int(c[1])-time[queue.index(call_num-1)])
 elif c[0] == 'avg_qtime':
  print( 'avg_qtime' , round(sum(q_time)/len(q_time),4))

8
reset 301
new 1100
ticket 301
new 1110
ticket 302
next
call 301
order 1120
301 1100
qtime 301 20
next
call 302
order 1150
302 1110
qtime 302 40
avg_qtime
avg_qtime 30.0