#06_Func_★_Binary_Adder

In [ ]:
def bin_add(b1,b2):
    b11 = int(b1,2)
    b21 = int(b2,2)
    result = b11 + b21
    result = bin(result)
    return str(result)[2:]

a = input().split()
print(bin_add(a[0],a[1]))

000000 000000
0


#06_Func_★_NextPrime

In [ ]:
def is_prime(n):
  if n <= 1:
    return False
  for k in range(2,int(n**0.5)+1):
    if n%k== 0:
      return False
  return True

def next_prime(n):
  while True:
    n += 1
    if is_prime(n):
      return n

def next_twin_prime(n):
  a = n
  while True:
    b = next_prime(a)
    c = next_prime(b)
    if c - b == 2:
      return (b, c)
    else:
      a = b

exec(input().strip())

print(next_twin_prime(198))
199 211
211 223
223 227
227 229
(227, 229)

#06_Func_★★_Function_Call

In [ ]:
def read_answers():
  N = int(input())
  answers = []
  for k in range(N):
    sid, ans = input().split()
    answers.append([sid,ans])
  return answers

def marking(answer, solution):
  score = 0
  for i in range(len(answer)):
    if answer[i] == solution[i]:
      score += 1
  return score

def grading(score):
  g = [[80,"A"],[70,"B"],[60,"C"],[50,"D"]]
  for a,b in g:
    if score >= a:
      return b
  return "F"

def scoring(answers, solution):
  scores = []
  for sid, ans in answers:
    score = marking(ans, solution) /\
            len(solution) * 100
    grade = grading(score)
    scores.append([sid, score, grade])
  return scores

def report(scores):
  for sid, score, grade in scores:
    print(sid, score, grade)

def sort(scores):
  x = []
  for sid, score, grade in scores:
    x.append([score,sid,grade])
  x.sort()
  x.reverse() #need to add this line for descending order
  for i in range(len(x)):
    scores[i] = [x[i][1],x[i][0],x[i][2]]

sol = input()
b = scoring(read_answers(), sol)
sort(b)
report(b)

AAAAA
5
0011 ABBBB
2222 AAAAB
3333 AAABB
4444 AAAAA
5555 AAAAB
4444 100.0 A
5555 80.0 A
2222 80.0 A
3333 60.0 C
0011 20.0 F

#06_Func_★★_Distance

In [ ]:
import math
def distance1(x1,y1,x2,y2):
  d = float(math.sqrt(((x2-x1)**2+(y2-y1)**2)))
  return d

def distance2(p1,p2):
  x1, y1 = p1
  x2, y2 = p2
  d = math.sqrt(((x2-x1)**2+(y2-y1)**2))
  return d

def distance3(c1,c2):
  d = distance1(c1[0],c1[1],c2[0],c2[1])
  if d <= c1[2] + c2[2]:
    o = True
  else:
    o = False
  return d, o

def perimeter(points):
  p = 0
  for i in range(len(points)):
    if i != len(points)-1:
      p += distance2(points[i],points[i+1])
    else:
      p += distance2(points[0],points[i])
  return p
exec(input().strip())

print(perimeter([[0,0],[0,2],[2,2],[2,0]]))
[0, 0] [0, 2] 2.0
[0, 2] [2, 2] 2.0
[2, 2] [2, 0] 2.0
[0, 0] [2, 0] 2.0
8.0

#06_Func_★★_FourFunctions

In [ ]:
def make_int_list(x):
  out = x.split()
  for i in range(len(out)):
    out[i] = int(out[i])
  return out

def is_odd(e):
  if e % 2 :
    return True
  else:
    return False

def odd_list(alist):
  out = []
  for num in alist:
    if is_odd(num):
      out.append(num)
  return out

def sum_square(alist):
  sum = 0
  for num in alist:
    sum += num**2
  return sum
exec(input().strip())

print(sum_square([1,1,2,3]))
15

#06_Func_★★★_Refactor

In [20]:
mname = ["Jan", "Feb", "Mar", "Apr",
         "May", "Jun", "Jul", "Aug",
         "Sep", "Oct", "Nov", "Dec"]

def read_date():
  date1 = input().split()
  d1 = int(date1[0])
  m1 = mname.index(date1[1][:3]) + 1
  y1 = int(date1[2])
  return [d1, m1, y1]

def zodiac(d,m):
  if (d >= 22 and m == 3) or (d <= 21 and m == 4):
      z1 = "Aries"
  elif (d >= 22 and m == 4) or (d <= 21 and m == 5):
      z1 = "Taurus"
  elif (d >= 22 and m == 5) or (d <= 21 and m == 6):
      z1 = "Gemini"
  elif (d >= 22 and m == 6) or (d <= 21 and m == 7):
      z1 = "Cancer"
  elif (d >= 22 and m == 7) or (d <= 21 and m == 8):
      z1 = "Leo"
  elif (d >= 22 and m == 8) or (d <= 21 and m == 9):
      z1 = "Virgo"
  elif (d >= 22 and m == 9) or (d <= 21 and m == 10):
      z1 = "Libra"
  elif (d >= 22 and m == 10) or (d <= 21 and m == 11):
      z1 = "Scorpio"
  elif (d >= 22 and m == 11) or (d <= 21 and m == 12):
      z1 = "Sagittarius"
  elif (d >= 22 and m == 12) or (d <= 20 and m == 1):
      z1 = "Capricorn"
  elif (d >= 21 and m == 1) or (d <= 20 and m == 2):
      z1 = "Aquarius"
  elif (d >= 21 and m == 2) or (d <= 20 and m == 3):
      z1 = "Pisces"
  return z1

def days_in_feb(y):
  days_in_feb = 28
  if y % 400 == 0 or (y % 100 != 0 and y % 4 == 0):
      days_in_feb = 29
  return days_in_feb

def days_in_month(m, y):
  days_in_m = 31
  if m == 4 or m == 6 or m == 9 or m == 11:
    days_in_m = 30
  elif m == 2:
    days_in_m = days_in_feb(y)
  return days_in_m

def days_in_between(d1,m1,y1,d2,m2,y2):
  days = 0
  if m1 < 12: days += 31
  if m1 < 11: days += 30
  if m1 < 10: days += 31
  if m1 < 9: days += 30
  if m1 < 8: days += 31
  if m1 < 7: days += 31
  if m1 < 6: days += 30
  if m1 < 5: days += 31
  if m1 < 4: days += 30
  if m1 < 3: days += 31
  if m1 < 2: days += days_in_feb(y1)

  if m2 > 1: days += 31
  if m2 > 2: days += days_in_feb(y2)
  if m2 > 3: days += 31
  if m2 > 4: days += 30
  if m2 > 5: days += 31
  if m2 > 6: days += 30
  if m2 > 7: days += 31
  if m2 > 8: days += 31
  if m2 > 9: days += 30
  if m2 > 10: days += 31
  if m2 > 11: days += 30
  days += (days_in_month(m1, y1)-d1+1) + int((y2-y1-1)*365.25) + (d2-1)
  return days

def main():
  d1,m1,y1 = read_date()
  d2,m2,y2 = read_date()
  print(zodiac(d1,m1)+" "+zodiac(d2,m2))
  print(days_in_between(d1,m1,y1,d2,m2,y2))

exec(input().strip())

print(days_in_between(1,1,2016,1,1,2017))
366