#Week 2 Grader

#02-StrLst_​★_​CitizenID

In [ ]:
id = input()
n12= (11 - (13*int(id[0]) + 12*int(id[1]) + 11*int(id[2]) + 10*int(id[3]) + 9*int(id[4]) + 8*int(id[5]) + 7*int(id[6])+ 6*int(id[7]) + 5*int(id[8]) + 4*int(id[9]) + 3*int(id[10]) + 2*int(id[11])) % 11) % 10
print(id[0], id[1:5], id[5:10], id[10:13], n12)

110070234512
1 1007 02345 12 9

#02-StrLst_​★_​Arabic_​Numerals

In [ ]:
n = int(input())
text = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
print(n, "-->", text[n])

1
1 --> one

#02-StrLst_★_USDate

In [ ]:
d,m,y = map(int,input().split("/"))
#or d,m,y = input().split("/"); m = int(m)
m_name = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(f"{m_name[m-1]} {d}, {y}")

31/12/2020
December 31, 2020

#02-StrLst_★_NDigits

In [ ]:
m = input()
n = input()
print("0"*(int(n)-len(m))+m)

123
3
123

#02-StrLst_★_WeeklySales

In [ ]:
a,b,c,d,e,f,g = map(int,input().split())
print(a+b+c+d+e+f+g)

0 0 0 100 0 0 0
100

#02-StrLst_★★_AddVector

In [ ]:
u1, u2, u3 = map(float, input()[1:-1].split(","))
v1, v2, v3 =map(float, input()[1:-1].split(","))
print(f"[{u1}, {u2}, {u3}] + [{v1}, {v2}, {v3}] = [{u1+v1}, {u2+v2}, {u3+v3}]")

[0, 10, 0]
[10, 0, 10]
[0.0, 10.0, 0.0] + [10.0, 0.0, 10.0] = [10.0, 10.0, 10.0]

#02-StrLst_★★★_Decryption

In [ ]:
code = input()
a = code[3::7]
b = code[7::5]
c = int(a)+int(b)+10000
d = str(c)[-4:-1:1]
e = int(d[0]) + int(d[1])+ int(d[2])
f = int(str(e)[-1])
alpha = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]
print(str(d)+alpha[f])

99999999999999999999999999999999
99999 99999 209998 999 27 7
999H

#02-StrLst_★★★_Decimal2Fraction

In [ ]:
import math
x = input().split(",")
n = int(x[0] + x[1] + x[2]) - int(x[0] + x[1])
d = 10**(len(x[1])+len(x[2]))-10**len(x[1])
print(str(int((n)//math.gcd(n,d)))+" / "+ str(int(d//math.gcd(n,d))))

123,456,789
41111111 / 333000